@import url(https://fonts.googleapis.com/css?family=Nunito);
@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic,700);
/************************************************/
/********************GENERAL*********************/
/************************************************/
body{
    font-size: 16px;
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
h1{
    text-align: center;
    font-size: 1.7rem;
    font-family: 'Brush script MT';
}
h2{
    text-align: center;
}
img{
    width: 310px;
    height: 240px;
    transform: translateZ(.25px) scale(.75) rotate(2deg);
    padding: 10px;
    border-radius: 5px;
    background: rgba(240,230,220, .7);
    box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}
ul{
    padding-left:0;
}
li{
    list-style-type: none;
}
dt{
    font-size: 1.3rem;
}
/************************************************/
/********************CORE************************/
/************************************************/
.main{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 2% 5%;
    border-radius: 5px;
    border: 1px solid black;
    background: rgba(240,230,220, .7);
    box-shadow: 0 0 12px rgba(0, 0, 0, .7);
}
.entree{
    align-self: center;
}
.sortie{
    width:90%;
    text-align: justify;
    align-self: center;
    font-family: 'Nunito';
}

.comments{
    margin: 5% 0 5% 10%;
}
.comments, .sub{
    border: 1px solid black;
    padding: 10px;
    max-width:80%;
    border-radius: 5px;
    background: rgba(240,230,220, .7);
    box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}
.sub{
    margin:auto;
    font-family: 'roboto';
}
.taille{
    font-size: 20px;
    font-weight: bold;
}
.italic{
    font-style: italic;
}
.blue{
    color: rgb(160, 32, 143);
}
#username, #pass, #pass2, #mail{
    width:100%;
}
#newOne{
    color: red;
    font-size: 2rem;
}
/************************************************/
/****************EDITION DESIGN******************/
/************************************************/
.edition{
    font-size: 12px;
    margin-left:15%;
}
.commentsEdition{
    border: 1px solid black;
    padding: 10px;
    max-width:100%;
    border-radius: 5px;
    background: rgba(240,230,220, .7);
    box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}
.fatRed{
    font-weight: bold;
    color: red;
}
.signal{
    font-style: italic;
}
.list{
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
}
.commentsPannel{
    text-align:left;
}
.colorRed{
    color: #a11035;
}
.colorTeal{
    color: #008080;
}
#texte{
   display:flex;
   width: 100%;
}
/************************************************/
/***************REGISTRATION BOX*****************/
/************************************************/
#identify{
    z-index: 100000;
    position: absolute;
    right:5%;
    top:0;
  }
  .identifyB{  
    background-color: rgb(70, 9, 9);
    color:white;
    font-size: 16px;
    border-radius: 5px;
    padding: 5px 20px;
  }
  .identifyB a{
    color:white;
  }
  .register{
    display: none;
    padding: 10px;
    margin: 2% 5%;
    border-radius: 5px;
    border: 1px solid black;
    background: rgba(240,230,220, .7);
    box-shadow: 0 0 12px rgba(0, 0, 0, .7);
  }  
  .compte{
    color:black;
    font-size:18px;
  }
  #submit{
    color:rgb(182, 14, 14);
    background-color:black;
    font-weight: bold;
    font-size: 16px;
  }
  .close{
    position: absolute;
    font-weight: bold;
    top:5px;
    right:25px;
    color:rgb(182, 14, 14);
  }
  #pseudo, #motDePasse{
    width:60%;
  }
/************************************************/
/*****************RESPONSIVE*********************/
/************************************************/
@media screen and (min-width: 400px){
    h1{
        font-size: 2.5em;
    }
    .edition{
        font-size: 16px;
    }
    .sortie p{
        font-size: 20px;
    }
    #username, #pass, #pass2, #mail{
        width:80%;
    }
    .list{
        font-size: 0.9rem;
    }
}
@media screen and (min-width: 768px){
    h1{
        font-size: 4em;
    }
    img{
        width: 620px;
        height: 480px;
    }
    .sortie{
        width:60%;
    }
    .list{
        font-size: 1.2rem;
    }
    .edition{
        font-size: 18px;
        margin-left:15%;
    }
    .comments{
        max-width:60%;
    }
    #username, #pass, #pass2, #mail{
        width:60%;
    }
    .commentsEdition{
        width: 80%;
    }
}
@media screen and (min-width: 992px){
    h1{
        font-size: 6em;
    }
    .comments{
        max-width:40%;
    }
    #username, #pass, #pass2, #mail{
        width:45%;
    }
}